.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.08);

    &__top {
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__bottom {
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    // Elements Í˝ÓÔÒÒÚÆ¸˛Ç◊ı˜Â¯˘¯˘¿///÷¿

    &__form {
        display: flex;
        flex-direction: column;
        gap: 48px;

        &-inputs {
            display: flex;
            justify-content: space-between;
            gap: 12px;
            align-items: end;
        }
    }

    &__title {
        color: var(--Dark, #0B0C0D);
        font-size: 32px;
        font-weight: 600;
        line-height: normal;

        margin-bottom: 12px;
    }

    &__subtitle {
        color: var(--Dark, #0B0C0D);
        font-family: Inter;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        opacity: 0.6;
    }

    &__input {
        display: flex;
        padding: 16px 12px;
        align-items: center;


        color: var(--Dark, #bcc2c9);
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;

        border-radius: 5px;
        border: 1px solid var(--Stroke, #EFEFEF);
        background: var(--Background, #F8F8F8);

        &-name {
            width: 100%;
        }

        &-phone {
            width: 100%;
        }

        &-label {
            margin-bottom: 8px;

            color: var(--Dark, #0B0C0D);
            font-size: 13px;
            font-weight: 600;
            line-height: 16px;
            letter-spacing: 0.26px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-title {
            padding-bottom: 8px;

            color: var(--Dark, #0B0C0D);
            font-size: 11px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
        }

        &-link {
            color: var(--Dark, #0B0C0D);
            font-family: Inter;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            text-transform: uppercase;
            opacity: 0.3;
        }

        &-social {
            margin-top: 20px;
        }
    }

    &__btn {
        height: 50px;
    }

    &__market-wrapper {
        display: inline-flex;
        gap: 4px;
    }

    &__market-label {
        display: block;
        padding-bottom: 12px;

        margin-bottom: 8px;

        color: var(--Dark, #0B0C0D);
        font-size: 11px;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
    }
}